@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}
.artisan-profile-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: #04252b;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    color: #f5f3eb;
}

.profile-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #f5f3eb;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f5f3eb;
    margin-bottom: 10px;
}

.profile-info h2 {
    margin: 10px 0 5px;
    font-size: 1.8em;
}

.profile-skill {
    color: #f5f3eb;
    font-style: italic;
}

.profile-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    gap: 20px;
}

.details-column {
    flex: 1;
    min-width: 280px;
}

.details-column p {
    margin: 10px 0;
    line-height: 1.6;
}

.profile-section {
    margin-bottom: 30px;
}

.profile-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #04252b;
    background-color: #f5f3eb;
    width: 100px;
    padding: 10px;
    border-radius: 10px;

}

.profile-bio {
    background-color: #04252b;
    border-radius: 8px;
    line-height: 1.6;
}

.certificate-link {
    color: #f5f3eb;
    text-decoration: none;
}

.certificate-link:hover {
    text-decoration: underline;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.portfolio-item img,
.portfolio-item video {
    width: 200px;
    height: 400px;
    border-radius: 8px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-edit-button-wrapper {
    text-align: center;
    margin-top: 40px;
}

.edit-button {
    background-color: #f5f3eb;
    color: #04252b;
    border: none;
    padding: 12px 25px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #1e2b3a;
    color: #f5f3eb;
}

.profile-loading,
.profile-error {
    text-align: center;
    margin-top: 50px;
    color: #666;
}
