@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}
.purchase-coins-container-head{
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "DM Sans", sans-serif;
}
.purchase-coins-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #f5f3eb;
    border-radius: 8px;
    text-align: center;
    background-color: #f5f3eb;
    font-family: "DM Sans", sans-serif;
    box-shadow: 0 0 2rem #0000001f;
}
.purchase-coins-container:hover{
    transition: 0.5s ease;
    box-shadow: 0 0 2rem #00000050;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #04252b;
    margin-bottom: 16px;
    font-family: "DM Sans", sans-serif;
}
.current-balance {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #04252b;
}

.success-message {
    color: green;
    margin: 1rem 0;
}

.purchase-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-label {
    font-size: 1.1rem;
    color: #04252b;
}

.cost-info {
    font-size: 1rem;
    color: #04252b;
}

.purchase-btn {
    padding: 0.75rem;
    background-color: green;
    color: f5f3eb;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
}

.purchase-btn:hover {
    transition: 0.2s ease;
    opacity: 0.8;
    color: #04252b;
}