@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}

.Workers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f3eb;
    height: calc(100vh - 115px);
}
.Workers h1 {
    font-size: 50px;
    text-align: center;
}

.Workers p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.Artisans {
    color: #04252b;
}
.texxt{
    padding-left: 10px;
    padding-right: 10px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
}
.icon {
    height: 40px;
    padding-top: 15px;
    padding-left: 100px;
}
.modalh2 {
    margin-top: 0px;
}
.artisanssmodal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding-bottom: 10px;
}
.artisansmodal {
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 5px;
}

.artisansmodal.selected {
    background-color: #04252b;
    color: white;
}
.artisan:hover {
    cursor: pointer;
    border: 1px solid #04252b;
    transition: 0.3s ease;
    background-color: #04252b;
    color: white;
}
.artisan{
    padding: 30px;
    margin-right: 5px;
    background-color: #f5f3eb;
    border: 1px solid #04252b;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
}


.artisansmodal:hover {
    cursor: pointer;
    border: 1px solid #04252b;
    transition: 0.3s ease;
    background-color: #04252b;
    color: white;
}

.artisansmodal.selected:hover {
    color: white;
}

.city-dropdown-wrapper {
    position: relative;
}
.inputbox{
    height: 40px;
    width: 390px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.error{
    color: red;
    margin-top: -20px;
    font-size: 10px;
    font-style: italic;
}
.city-dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 10;
    margin-top: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

.city-dropdown li {
    padding: 8px;
    cursor: pointer;
}

.city-dropdown li:hover {
    background-color: #f0f0f0;
}
.close, .proceed {
    font-size: 15px;
    height: 55px;
    width: 400px;
    color: white;
    background-color: #04252b;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.proceed {
    margin-bottom: 10px;
}

.proceed:hover, .close:hover {
    color: black;
    background-color: white;
    transition: all 0.2s ease;
}


.artisanss {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.artisanss > div:hover {
    cursor: pointer;
    border: 1px solid #04252b;
    transition: background-color 0.3s ease;
    color: #04252b;
}

.artisanss > div:hover > p {
    color: #04252b;
}

.searchbar:hover {
    cursor: pointer;
    background-color: #04252b;
    transition: background-color 0.3s ease;
    color: white;
}
.inputbox:focus{
    border: 2px #000000 solid;
    box-shadow: none;
    outline: none;
}
.city-dropdown *:hover{
    background-color: #04252b;
    color: white;
    cursor: pointer;
}
 .ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 30px !important;
  border-radius: 12px !important;
  width: 400px !important; /* Default width */
}
.artisansmodal {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.artisansmodal.selected {
  background-color: #04252b;
}

@media screen and (max-width: 720px) {
    .Workers h1{
        font-size: 40px;
    }
    .Workers p{
        font-size: 17px;
    }
    .artisanss button:nth-child(4){
        display: none;
    }
    .artisanss button:nth-child(5){
        display: none;
    }
    
}
@media screen and (max-width: 552px) {
    .Workers h1{
        font-size: 30px;
    }
    .Workers p{
        font-size: 14px;
    }
    .artisanss button{
        padding: 20px;
    }
    .texxt{
        padding-right: 0px;
    }
    .icon{
        padding-left: 10px;
        height: 20px;
        width: 20px;
        margin-top: 5px;
    }
    .ReactModal__Content {
        width: 320px !important;
    }
    .modalh2{
    font-size: 15px;
    }
    .artisanssmodal {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 8px;
  }

  .artisansmodal {
    padding: 8px;
    font-size: 14px; /* Adjust font size for smaller modal */
  }
  .artisansmodal:nth-child(n + 7) {
  display: none;
}
.inputbox{
    width: 313px;
}
.proceed{
    width: 323px;
}
}
@media screen and (max-width: 450px) {
    .Workers p:nth-child(2){
        display: none;
    }
    .artisanss button{
        padding: 15px;
    }
    .artisanss button:nth-child(3){
        display: none;
    }
}
